 @media (max-width: 768px) {
    .menu {display: none;}
}
body {
  background-color: #ffffff;
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
}

.login-card {
  background-color: #111;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 0 20px gold;
  width: 100%;
  max-width: 400px;
  color: white;
}

.login-card h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.login-card .brand {
  color: gold;
}

.btn-warning {
  background-color: gold;
  border: none;
  color: black;
  font-weight: bold;
}

.btn-outline-light {
  border: 1px solid white;
  color: white;
}

.btn-outline-light:hover {
  background-color: rgb(65, 64, 64);
  color: black;
}

.btn-outline-secondary {
 border: 1px solid white;
 color: white;
 background-color: #111;
 border-radius: 5px;
}

.btn-outline-secondary:hover {
  background-color: rgb(65, 64, 64);
  color: black;
}
