  /*smartwatch*/

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f7;
  }

 .search-section {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

.search-section form {
  background-color: black;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 0 10px #e0a800;
  display: flex;
  gap: 10px;
  align-items: center;
  max-width: 90%;
  flex-wrap: wrap;
}

.search-section input[type="text"] {
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  width: 250px;
  max-width: 100%;
  outline: none;
}

.search-section button {
  background-color: #111;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

.search-section button:hover {
  background-color: #e0a800;
  color: black;
}

.modelos {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 10rem;
  }

 /* para tornar os cards responsivos*/
.produtos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
  }
  
  /* faz um zoom ao passar o mouse nos produtos*/
.relogio:hover  {
    transform: scale(1.1);
  }

.relogio {
    background-color: white;
    width: 300px;
    height: 480px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(3, 3, 3, 0.171);
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
.relogio img {
    width: auto;
    height: 200px;
    object-fit: contain;
    margin: 0 auto;
  }
.relogio h2 {
   font-size: 20px;
   margin: 10px 0 5px 0;
  }
.relogio p {
   flex-grow: 1;
   font-size: 15px;
   margin-bottom: 10px;
  }

.relogio .price {
   font-weight: bold;
   margin-bottom: 10px;
  }
.relogio .preço {
    color: #000000;
    font-size: 17px;
    font-family:Arial, Helvetica, sans-serif
  }
.buy-btn {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    top: -10px;
    transition: background-color 0.3s;
  }
.buy-btn:hover {
    background-color: #e0a800;
  }

footer {
    text-align: center;
    font-size: 0.9rem;
    color: #fffbfb;
    margin-top: 2rem;
  }
